* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh; 
    margin: 0;
}

.container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px
}

.buttons{
    display: flex;
    justify-content: center;
    background-color: red;
}
