.container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 40px;
}

.buttons{
    text-align: center;
}
button {
    text-align: center; 
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}